.listaDiv{
    display: inline-block; 
    width: 5em;
    border: 5px rgb(255, 0, 0) double;
    margin: auto;
    margin-right: 2em;
    background-color: rgb(36, 114, 0);
    color: rgb(0, 255, 221);
}